<div class={{if fixtableClass (concat 'fixtable ' fixtableClass) 'fixtable'}}>
  <div class="fixtable-header"></div>
  <div class="fixtable-filters">
    <!-- filter fields go here -->
  </div>
  <div class="fixtable-inner">
    <table class={{if tableClass (concat 'table ' tableClass) 'table'}}>
      <thead>
        <tr class="fixtable-column-headers">
          {{#each columns as |column|}}
            <th>
              <div>
                {{if column.header column.header column.key}}
              </div>
            </th>
          {{/each}}
        </tr>
      </thead>
      <tbody>
        {{#unless isLoading}}
          {{#each content as |row|}}
            <tr>
              {{#each columns as |column|}}
                <td>
                  {{get-prop row column.key}}
                </td>
              {{/each}}
            </tr>
          {{/each}}
        {{/unless}}
      </tbody>
    </table>
    <div class="fixtable-centered">
      {{#if isLoading}}
        <i class="fa fa-refresh fa-spin fa-4x fa-fw" aria-hidden="true"></i>
        <span class="sr-only">Loading...</span>
      {{/if}}
    </div>
  </div>
  <div class="fixtable-footer">
    <!-- footer content goes here -->
  </div>
</div>
