<button type="button" class="btn btn-danger" {{action bubbleAction 'condemnRow' dataRow}} aria-label="Condemn Row" title="Set Alignment to Evil">
  <span class="glyphicon glyphicon-screenshot" aria-hidden="true"></span>
</button>
