<button type="button" class="btn btn-success" {{action 'purifyRow' dataRow}} aria-label="Purify Row" title="Set Alignment to Good">
  <span class="glyphicon glyphicon-screenshot" aria-hidden="true"></span>
</button>
