$pure-blue: hsl(195, 45%, 49%);
$dark-blue: hsl(195, 45%, 25%);

$body-background-color: hsl(0, 0%, 96.5%);
$text-color: hsl(0, 0%, 29.8%);

$filter-background-color: hsl(196, 30%, 85%);

$table-border-color: hsl(0, 0%, 87%);
$table-body-color: hsl(0, 0%, 100%);
$table-empty-color: hsl(0, 0%, 92.5%);
$table-gradient-color: hsl(0, 0%, 95%);
$table-hover-color: hsl(57, 82%, 96%);

$button-gradient-top: hsl(0, 0%, 97%);
$button-gradient-bottom: hsl(0, 0%, 90%);
