$pure-blue: hsl(195, 45%, 49%);

$body-background-color: hsl(0, 0%, 96.5%);
$text-color: hsl(0, 0%, 29.8%);

$table-border-color: hsl(0, 0%, 87%);
$table-body-color: hsl(0, 0%, 100%);
$table-gradient-color: hsl(0, 0%, 95%);
$table-hover-color: hsl(57, 82%, 96%);
