@import 'colors';

.fixtable {
  background-color: $table-empty-color;

  .fixtable-header {
    border-bottom: 1px solid black;
  }

  .fixtable-filters {
    background-color: $filter-background-color;
  }

  .fixtable-header, .fixtable-footer {
    background: -webkit-linear-gradient(top, $table-body-color 0%, $table-gradient-color 100%);
    background: -moz-linear-gradient(top, $table-body-color 0%, $table-gradient-color 100%);
    background: -ms-linear-gradient(top, $table-body-color 0%, $table-gradient-color 100%);
    background: -o-linear-gradient(top, $table-body-color 0%, $table-gradient-color 100%);
    background: linear-gradient(top, $table-body-color 0%, $table-gradient-color 100%);
  }

  .fixtable-inner {
    thead {
      tr {
        th {
          border-bottom: 2px solid $pure-blue;
        }
      }
    }

    table.table {
      border: 1px solid $table-border-color;

      tbody {
        tr {
          background-color: $table-body-color;
        }
      }

      &.table-hover {
        tbody {
          tr:hover {
            background-color: $table-hover-color;

            td:first-child, th:first-child {
              -webkit-box-shadow:inset 3px 0 0 0 $pure-blue;
              box-shadow:inset 3px 0 0 0 $pure-blue;
            }
          }
        }
      }
    }

    .fa.fa-spin {
      color: #0F465D;
    }
  }

  .fixtable-footer {
    border-top: 1px solid $table-border-color;

    .btn.btn-default {
      background-image: linear-gradient(to bottom, $button-gradient-top 0%, $button-gradient-bottom 100%);
    }
  }
}
