@import 'colors';
@import 'fixtable';

body {
  color: $text-color;
  background-color: $body-background-color;
}

.restrict-height {
  height: 400px;
}

.monospace {
  font-family: monospace;
}

.name {
  font-weight: bold;
}
